.stopwatch{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    border-radius: 5px;
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

 